h2.hw2 {
  background:#eee;
  margin-bottom: 20px; 
}

.hw2-background {
  background-color: #eee;
  padding: 20px;
  
}

.hw2-background ul {
  display: inline-block;   
  vertical-align: top;
  margin: 0 40px;          
  padding: 0;              
  list-style: disc;       
}